        <tr>
            <th>#</th>
            <th>content</th>
            <th>time</th>
        </tr>
        <% rows.forEach(function(row) { %>
        <tr>
            <td></td>
            <td><%= row.content %></td>
            <td><%= row.dateposted %></td>
        </tr>
        <% }) %>